@model List<ImageObject>
@using Models

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="UploadAsync" enctype="multipart/form-data">
    <div>
        <label for="Title">Title:</label>
        <input type="text" name="Title" id="Title" />
    </div>
    <div>
        <label for="File">File:</label>
        <input type="file" name="File" id="File" />
    </div>
    <div>
        <label for="CopyrightInformation">Copyright Information:</label>
        <input type="text" name="CopyrightInformation" id="CopyrightInformation" />
    </div>
    <div>
        <label for="Keywords">Keywords (separate with comma):</label>
        <input type="text" name="Keywords" id="Keywords" />
    </div>
    <div>
        <button type="submit">Upload</button>
    </div>
</form>

<hr>
<h2>Gallery</h2>
<form asp-controller="Home" asp-action="Images" method="get">
    <div>
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" value="@ViewData["title"]" />
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" name="description" id="description" value="@ViewData["description"]" />
    </div>
    <div>
        <label for="dateTime">Date and Time:</label>
        <input type="text" name="dateTime" id="dateTime" value="@ViewData["dateTime"]" />
    </div>
    <div>
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" value="@ViewData["location"]" />
    </div>
    <div>
        <label for="cameraInformation">Camera Information:</label>
        <input type="text" name="cameraInformation" id="cameraInformation" value="@ViewData["cameraInformation"]" />
    </div>
    <div>
        <label for="copyrightInformation">Copyright Information:</label>
        <input type="text" name="copyrightInformation" id="copyrightInformation" value="@ViewData["copyrightInformation"]" />
    </div>
    <div>
        <label for="keywords">Keywords:</label>
        <input type="text" name="keywords" id="keywords" value="@ViewData["keywords"]" />
    </div>
    <button type="submit">Search</button>
</form>
